{% set isFetchRequest = app.request.headers.get('fetch') %}
{% extends isFetchRequest ? 'ajax-base.vue.twig' : 'app-base.html.twig' %}
{% block appContent %}
    {% if isFetchRequest %}
        <p>
            You login session has expired. Redirecting to login page...
        </p>
    {% else %}
        <Login>
            <template slot="before-card">
                {% if error %}
                    <v-alert type="error">{{ error.messageKey|trans(error.messageData, 'security') }}</v-alert>
                {% endif %}
                {% if app.user %}
                    <v-alert type="info">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </v-alert>
                {% endif %}
            </template>

            <template slot="form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <v-text-field label="Username" name="username" value="{{ last_username }}" prepend-icon="mdi-account"></v-text-field>
                <v-text-field type="password" label="Password" name="password" prepend-icon="mdi-lock"></v-text-field>
                <v-checkbox name="_remember_me" label="Remember me" value="1"></v-checkbox>
            </template>
        </Login>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if isFetchRequest %}
    <script>
        window.location.reload();
    </script>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}