{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>FetchComponent example</h1>

    <p class="mt-5">
        By using the open dialog button below, the dialog will be opened. Inside the dialog
        <code>fetch-component</code> is used to load this page.
    </p>
    <p>
        <v-btn color="primary" @click="dialog = true">Open dialog</v-btn>
    </p>

    <p>
        The FetchComponent will execute the javascript of the fetched content to be able to create the
        dynamic vue component.
    </p>
    <p>
        Be aware that this can cause conflicts with already loaded javascript. If this page would've defined
        a constant <code>const something = "value"</code>, then executing the same javascript again would result in
        an error saying that this constant has already been defined.
    </p>
    <p>
        Below you see a counter that uses <code v-text="'@{ $store.count }'"></code>.
        This $store-observable is shared amongst all components, so if you increase the count, this value should increase
        in the dialog you open as well.
        However, because this page uses <code>{{ '{{ vue_store(\'count\', 0) }}' }}</code> to define this variable, the value
        will be set to 0 every time this page is loaded.
    </p>
    <p>
        Just try it out: increment the count and then open a dialog. You'll see that the count will be reset to 0.
    </p>
    <p>
        count: @{ $store.count }
    </p>
    <p>
        <v-btn @click="$store.count += 1">Increment count</v-btn>
    </p>

    <p>
        <strong>Reset only after initialization</strong><br />
        What happens if you increment to count, close the dialog and then open the dialog again?
        This time it is not reset to 0!
        That is because Vue didn't destroy the component when closing it. So after
        opening the dialog a second time, the page isn't actually fetched and no new javascript is executed.
    </p>

    {{ vue_store('count', 0) }}
    {{ vue_data('dialog', false) }}
    <v-dialog v-model="dialog" width="1200">
        <v-card>
            <v-card-text class="pt-5">
                <fetch-component url="{{ path('example_fetch') }}"></fetch-component>
            </v-card-text>
        </v-card>
    </v-dialog>
</div>
{% endblock %}
